{% extends 'base.html' %}
{% load bootstrap3 %}
{% block metas %}
{{ block.super }}
<title>Fistrium - New Post</title>
{% endblock %}

{% block content %}
<main>
    <div class="container" style="padding-top:50px">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-12">
                <h2>New blog</h2>
                {% autoescape off %}
                    <div>{{ msg }}</div>
                {% endautoescape %}
                <form method="post" novalidate>
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    {% buttons %}
                        <button type="submit" class="btn btn-primary">
                            Guardar Blog
                        </button>
                    {% endbuttons %}
                </form>
            </div>
        </div>
    </div>
</main>
{% endblock %}