{% extends 'base.html' %}

{% block content %}
<main>
    <div class="container" style="padding-top:50px">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-12">
               <h2>Login</h2>
                <div style="color:red">{{error}}</div>
                <form  method="post" novalidate>
                    {% csrf_token %}
                   {{ form.as_p }}
                    <div>
                        <button>Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>
{% endblock %}